<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
</head>
<body>
    <h3>User: {{ user.uname }}</h3>
    <h3 id="peerid"></h3>
    <br>
    <video id="vid1" autoplay="true" controls="true" width="640" height="360"></video>
    <video id="vid2" autoplay="true" controls="true" width="640" height="360"></video>
    <br>
    <video id="vid3" autoplay="true" controls="true" width="640" height="360"></video>
    <video id="vid4" autoplay="true" controls="true" width="640" height="360"></video>


    <form action="/" method="POST">
        <input type="hidden" name="username" value=""><br>
        <input type="hidden" name="password" value=""><br>
        <input type="submit" id="backToHome" value="Home Page">
    </form>

    <script>
        let video = document.querySelectorAll('video');
        for(let i=0; i<video.length; i++)
        {
            video[i].onloadedmetadata = function(e) {
                video[i].play();
            };
        }
        let ctr=0;

        const peer = new Peer({key: 'lwjd5qra8257b9'});
        peer.on('open', function(id) {
			console.log('ID: '+id);
			document.getElementById('peerid').innerText='Session ID: '+id;
		});
		peer.on('error', function(err) {
			console.log('error:');
			console.log(err.type);
			document.getElementById("backToHome").click();
		});

        let videoStream = null;
        navigator.getUserMedia(
		{
  			video: { width: 1280, height: 720 },
  			audio: true
		},
		function(stream){
			videoStream = stream;
		},
		function(err)
		{
			console.log('MediaError', err);
		});

		peer.on('call', function(call){
			call.answer(videoStream);
			console.log('Received a call',call);
			
			call.on('stream', function(stream) {
				console.log('Connected');
				video[(ctr++)%4].srcObject = stream;
			});
  		});

    </script>
</body>
</html>