<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
</head>
<body>
    <h3>User: {{ user.uname }}</h3>
    <h3 id="peerid"></h3>

    <h3>Connected Users:</h3>
    <ol type="1">
        <li id="user1">None</li>
        <li id="user2">None</li>
        <li id="user3">None</li>
        <li id="user4">None</li>
    </ol>
    <br>
    <video id="vid1" autoplay="true" controls="true" width="640" height="360"></video>
    <video id="vid2" autoplay="true" controls="true" width="640" height="360"></video>
    <br>
    <video id="vid3" autoplay="true" controls="true" width="640" height="360"></video>
    <video id="vid4" autoplay="true" controls="true" width="640" height="360"></video>

    <br>
        <video id="own_vid" autoplay="true" controls="true" width="320" height="180" muted="true"></video>
    <br>

    <a href="/logout" id="backToHome" onclick="logout()">End Session</a>


    <script>
        let video = document.querySelectorAll('video');
        let users = document.querySelectorAll('li');
        for(let i=0; i<video.length; i++)
        {
            video[i].onloadedmetadata = function(e) {
                video[i].play();
            };
        }

        const peer = new Peer({key: 'lwjd5qra8257b9'});
        let students = [null,null,null,null];




        function logout()
        {
            peer.destroy();
            console.log("js called");
        }
        peer.on('open', function(id) {
			console.log('ID: '+id);
			document.getElementById('peerid').innerText='Session ID: '+id;
		});
        peer.on('disconnected', function () {
            peer.reconnect();
        });
		peer.on('error', function(err) {
			console.log('error:');
			console.log(err.type);
			document.getElementById("backToHome").click();
		});

        let videoStream = null;
        navigator.getUserMedia(
		{
  			video: {},
  			audio: true
		},
		function(stream){
			videoStream = stream;
			document.getElementById('own_vid').srcObject = stream;
		},
		function(err)
		{
			console.log('MediaError', err);
		});

		peer.on('call', function(call){
			call.answer(videoStream);
			console.log('Received a call',call);

			call.on('stream', function(stream) {
				console.log('Connected');
				for(let i=0; i<4; i++)
                {
                    let vid = video[i];
                    if(vid["srcObject"] == null)
                    {
                        vid.srcObject = stream;
                        students[i] = call["peer"];
                        users[i].innerText=students[i];
                        peer.connections[students[i]][0].on('close',function () {
                           students[i] = null;
                           users[i].innerText="None";
                           vid["srcObject"] = null;
                        });
                        break;
                    }
                    else if(vid["srcObject"]["id"] == stream["id"])
                        break;
                    else if(!vid["srcObject"]["active"])
                    {
                        vid.srcObject = stream;
                        students[i] = call["peer"];
                        users[i].innerText=students[i];
                        peer.connections[students[i]][0].on('close',function () {
                           students[i] = null;
                           users[i].innerText="None";
                           vid["srcObject"] = null;
                        });
                        console.log("called");
                    }
                }
			});
  		});


    </script>
</body>
</html>