<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
</head>
<body>
    <h3>User: {{ user.uname }}</h3>
    <h3 id="peerid"></h3>
    <br>
    <video id="vid" autoplay="true" controls="true"></video>
    <br>
    <button onclick="connect()">Connect Now</button>

    <form action="/" method="POST">
        <input type="hidden" name="username" value=""><br>
        <input type="hidden" name="password" value=""><br>
        <input type="submit" id="backToHome" onclick="logout()" value="Leave Session">
    </form>
    <script>

        const peer = new Peer({key: 'lwjd5qra8257b9'});
        let call=null;
        let video = document.getElementById('vid');

        video.onloadedmetadata = function(e) {
            video.play();
        };

        let videoStream = null;
        navigator.getUserMedia(
		{
  			video: { width: 1280, height: 720 },
            audio: true
		},
		function(stream){
			videoStream = stream;
		},
		function(err)
		{
			console.log('MediaError', err);
		});

		peer.on('error', function(err) {
			console.log('error:');
			console.log(err.type);
			if(err.type == "peer-unavailable")
			    alert('No session with given session id has been started yet');
			else
    			alert('You were disconnected from the session due to some error.');
            document.getElementById("backToHome").click();
		});

		peer.on('open', function(id) {
			console.log('ID: '+id);
		});

		peer.on('disconnected', function () {
            peer.reconnect();
        });

		function logout()
        {
            call.close();
            peer.destroy();
        }

		function connect() {

            while(!peer.open);

            let TpeerID = '{{ TpeerID }}';
            document.getElementById('peerid').innerText='Session ID: '+TpeerID;

            call = peer.call(TpeerID, videoStream);

            call.on('stream', function(stream) {
				console.log('Connected');
				video.srcObject = stream;
			});

            call.on('close', function () {
                alert('You were disconnected from the session.');
                document.getElementById("backToHome").click();
            });

			console.log(call);
			console.log('Sent a call');
		}

    </script>
</body>
</html>