<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
</head>
<body>
    <h3>User: {{ user.uname }}</h3>
    <h3 id="peerid"></h3>
    <br>
    <video id="vid" autoplay="true" controls="true"></video>
    <br>
    <button onclick="connect()">Connect Now</button>

    <form action="/" method="POST">
        <input type="hidden" name="username" value=""><br>
        <input type="hidden" name="password" value=""><br>
        <input type="submit" id="backToHome" value="Home Page">
    </form>
    <script>

        const peer = new Peer({key: 'lwjd5qra8257b9'});
        let video = document.getElementById('vid');

        video.onloadedmetadata = function(e) {
            video.play();
        };

        let videoStream = null;
        navigator.getUserMedia(
		{
  			video: { width: 1280, height: 720 }
		},
		function(stream){
			videoStream = stream;
		},
		function(err)
		{
			console.log('MediaError', err);
		});

		peer.on('error', function(err) {
			console.log('error:');
			console.log(err.type);
            document.getElementById("backToHome").click();
		});

		peer.on('open', function(id) {
			console.log('ID: '+id);
		});

		function connect() {

            let TpeerID = '{{ TpeerID }}';
            document.getElementById('peerid').innerText='Session ID: '+TpeerID;

            const call = peer.call(TpeerID, videoStream);

            call.on('stream', function(stream) {
				console.log('Connected');
				video.srcObject = stream;
			});

			console.log(call);
			console.log('Sent a call');
		}

    </script>
</body>
</html>